.login-container {
    max-width: 400px;
    margin: 120px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #54a2be;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.login-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-input, .form-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.submit-button {
    width: 30%;
    padding: 10px;
    background-color: #395e85;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.login{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.submit-button:hover {
    background-color: #192c40;
}

.message {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    color: #d9534f;
}
