.product-list-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .product-list-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #395e85;
  }
  
  .category-select {
    margin-bottom: 20px;
    padding: 8px;
    font-size: 16px;
    list-style:georgian;
  }
  
  .product-form {
    margin-bottom: 30px;
    background-color: #8da6c1;
    width: 50%;
    height: 45%;
    justify-content: center;
    align-items: center;
    margin-left: 350px;
  }
  
  .form-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .form-input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color:#395e85;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #0d2238;
  }
  
  .product-list {
    list-style-type: none;
    padding: 0;
  }
  
  .product-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .product-button {
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    font-size: 14px;
    cursor: pointer;
  }
  
  .product-button:hover {
    background-color: #218838;
  }
  
  .product-button:nth-of-type(2) {
    background-color: #dc3545;
  }
  
  .product-button:nth-of-type(2):hover {
    background-color: #c82333;
  }
  