.search-results {
    padding: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-item {
    border: 1px solid #ddd;
    padding: 15px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
}

.product-item img {
    max-width: 100%;
    height: auto;
}

.product-item button {
    background-color: #395e85;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}