.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    min-height: 5vh;
    background-color: #f0f0f5;
    padding: 20px;
}

.signup-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.sig{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form {
    background-color:#54a2be;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    height: 50%;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.form-input,
.form-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.signup-button {
    width: 30%;
    padding: 10px;
    background-color :#395e85;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-button:hover {
    background-color:  #192c40;
}

.message {
    margin-top: 15px;
    font-size: 1rem;
    color: red;
    text-align: center;
}
